body{
    font-family: "Radio Canada", Arial, Helvetica, sans-serif;
}

.card {
    width: 100px;
    width: 100vw;
    height: 100px;
    height: 96vh;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .content{
    width: 350px;
    height: 700px;
    max-height: 100%;
    border: 5px solid black;
    padding: 10px 30px;
    box-sizing: border-box;
    margin: auto;
    overflow-y: scroll;
    font-size: small;
}