
.card {
    width: 100px;
    width: 100vw;
    height: 100px;
    height: 96vh;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .content{
    width: 850px;
    height: 700px;
    max-height: 100%;
    border: 5px solid white;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}