out.js
build
node_modules
api/target
cli/target
secrets.sh
.vscode

api/test_data/*
api/data/*
api/assets
api/content.yml
api/.ministry
cli/content.yml
cli/.ministry
cli/assets
cli/assets/*
cli/temp_assets
*.DS_Store