
.audio-footer {
    display: block;
    color: white;
    /*mix-blend-mode: multiply;*/
    width: 100%;
    height: 46px;
    background-color: black;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.audio-footer audio{
    margin-top: 5px !important;
    width: 100%;
    height: 40px;
    margin: auto;
}