

html{
    font-family: "Radio Canada", Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p, li{
    font-weight: 300;
}

svg {
    /* this is a useful backstop for svg's that don't have any height or width */
    min-height: 20px;
    min-width: 20px;
}

/* the primary card is the central frame, the card that sits around all of the content */
.primary-card {
    width: 100px;
    width: 96vw;
    height: 100px;
    height: 92vh;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 5px;

    background: linear-gradient(221deg, #18e7e4, #f2b815, #ec15f2);
    background-size: 300% 300%;

    animation: gradient-bg-crawl 15s ease infinite;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 360px;
    margin: auto;
    border: 5px solid white;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
    }
    .primary-card {
        border: none;
        padding: 0;
    }
  }

.primary-card .content{
    position: relative;
    width: 350px;
    height: 600px;
    max-height: 100%;
    border: 5px solid black;
    padding: 0;
    margin: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
}
.primary-card .content .everything{
    width: 350px;
    height: 550px;
    max-height: 100%;
    box-sizing: border-box;
    margin: 65px auto 0 auto;
    padding-top: 0px;
}

.primary-card .content .everything-feed{
    width: 350px;
    height: 600px;
    max-height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 60px;
    overscroll-behavior: none;
}

.primary-card .gutter, .primary-card .gutters {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.primary-card .content-transparent{
    position: relative;
    width: 350px;
    height: 600px;
    max-height: 100%;
    border: 5px solid black;
    padding: 0;
    margin: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
}

/* a lil white panel that sits inside the primary card */
.panel{
    border-radius: 5px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
    margin: 5px 0
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6{
    margin: 0;
    padding: 0;
}

.panel .message{
    padding: 5px;
    margin: 5px 0;
    color: white;
    mix-blend-mode: multiply;
    font-weight: bold;
    text-align: center;
}

.panel .hero-icon{
    width: 50px;
    height: 50px;
    margin: 10px auto;
    text-align: center;

}