
.frames{
    margin-bottom: 100px;
}

:root {
    --frame-width: 330px;
    --frame-height: 400px;
}


.frame{
    width: var(--frame-width);
    height: var(--frame-height);
    margin: 10px auto;
    overflow: hidden;
}

.card{
    width: var(--frame-width);
    height: var(--frame-height);
    overflow: hidden;
    box-sizing: border-box;
}

.frame-primary{
    opacity: 1;
    transition: opacity 0.2s;
}

.frame-visible{
    opacity: 0.3;
}

.frame-invisible{
    opacity: 0.1;
}

.stacked-card{
    position: relative;
}

.stacked {
    position: absolute;
}

.title-card{
    text-align: center;
    background-color: rgb(255, 255, 255, 0.3);
}

.markdown-card, .html-card{
    padding: 5px;
    background-color: rgb(255, 255, 255, 0.3);
}

.error-card{
    background-color: rgba(235, 79, 79, 0.3);
    font-size: small;
}

.image-card img, .animated-image-card img{
    max-width: var(--frame-width);
    max-height: var(--frame-height);
}

.video-card video{
    max-width: var(--frame-width);
    max-height: var(--frame-height);
}