
.frames{
    margin-bottom: 100px;
}

:root {
    --frame-width: 330px;
    --frame-height: 400px;
}

.frame{
    width: var(--frame-width);
    height: var(--frame-height);
    margin: 30px auto;
    overflow: hidden;
}

.card{
    width: var(--frame-width);
    height: var(--frame-height);
    overflow: hidden;
    box-sizing: border-box;
    border: 1px dashed black;
}

.stack-card .card{
    border: none;
}

.frame-primary{
    opacity: 1;
    transition: opacity 0.2s;
}

.frame-visible{
    opacity: 0.3;
}

.frame-invisible{
    opacity: 0.1;
}

.stack-card{
    position: relative;
}

.stacked {
    position: absolute;
}

.title-card{
    padding: 5px 15px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}

.title-card h2, .title-card h4{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}
.title-card p{
    margin: 0;
    padding: 0;
}
.title-card .title-row{
    position: relative;
}

.title-card .thumbnail{
    width: 300px;
    max-height: 250px;
}

.title-card .qrlink{
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    display: block;
    width: 40px;
    height: 40px;
}

.title-card .qrlink img{
    width: 45px;
    height: 45px;
}

.markdown-card, .html-card{
    padding: 5px 15px;
    background-color: rgb(255, 255, 255, 0.3);
}

.markdown-card .footnotes a{
    display: none;
}

.error-card{
    background-color: rgba(235, 79, 79, 0.3);
    font-size: small;
    overflow: auto;

}

.restrict-max-height img{
    max-height: var(--frame-height);
}

.restrict-max-width img{
    max-width: var(--frame-width);
}

/*
.image-card img, .animated-image-card img{
    max-width: var(--frame-width);
    max-height: var(--frame-height);
}

.pan-down-card img, .pan-up-card img {
    max-width: var(--frame-width);
}

.pan-left-card img, .pan-right-card img {
    max-height: var(--frame-height);
}
*/

.video-card video{
    max-width: var(--frame-width);
    max-height: var(--frame-height);
}


.footnote{
    opacity: 0;
}
.frame-primary .footnote {
    display: block;
    box-sizing: border-box;
    padding: 2px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: #BBB;
    opacity: 1;
    transition: opacity 2.5s;
}
.frame-primary .footnote p {
    margin: 5px;
    padding: 0;
    font-size: small;
}
.frame-primary .footnote a {
    color: white;
}


/* extra classes */

.center {
    text-align: center;
}

.border {
    border: 1px solid black;
}

.opaque {
    background-color: white;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}