<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user_scalable=no">
    <title>groove{% block title %}{% endblock title %}</title>
	<link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/build/style.css" />
    {% endblock head %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>