{% extends "base" %}

{% block title %} home{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
<div class="primary-card">
    <div class="content">
        <header>
            <h1>home</h1>
        </header>
        <div class="bump"></div>
        <div class="everything">
            <p>
            <input type="text" />
            </p>
            <p> u did it </p>
        </div>
    </div>
</div>
{% endblock content %}