/* css/animations.css */
@keyframes gradient-bg-crawl {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 10px white;
  }
  15% {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1), -2px -2px 10px rgba(255, 255, 255, 1);
  }
  30% {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .7), -2px -2px 4px rgba(255, 255, 255, .7);
  }
  50% {
    text-shadow: 20px 20px 50px rgba(255, 255, 255, .5), -20px -20px 50px rgba(255, 255, 255, .5);
  }
}
.fade-in {
  animation-duration: 0.2s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}
@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader-wrapper {
  width: 58px;
  height: 15px;
  margin: auto;
  margin-top: 256px;
}
.loader {
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: #000;
  animation: l49 1s infinite linear;
}
.loader:after {
  transform-origin: 200% 50%;
  --s:-1;
  animation-delay: -.5s;
}
@keyframes l49 {
  58%, 100% {
    transform: rotate(calc(var(--s,1)*1turn));
  }
}

/* css/color.css */
:root {
  --green-glass: rgba(73, 112, 21, 0.8);
  --success-glass: rgba(73, 112, 21, 0.8);
  --red-glass: rgba(112, 21, 21, 0.8);
  --error-glass: rgba(112, 21, 21, 0.8);
  --danger-glass: rgba(112, 21, 21, 0.8);
  --yellow-glass: rgba(81, 89, 5, 0.8);
  --warning-glass: rgba(81, 89, 5, 0.8);
  --blue-glass: rgba(5, 8, 89, 0.8);
  --info-glass: rgba(5, 8, 89, 0.8);
}
.green,
.nice,
.success {
  background-color: var(--green-glass) !important;
}
.red,
.error,
.danger {
  background-color: var(--red-glass) !important;
}
.yellow,
.warning,
.caution {
  background-color: var(--yellow-glass) !important;
}
.blue,
.info {
  background-color: var(--info-glass) !important;
}
.disabled {
  background-color: var(--info-glass) !important;
  cursor: not-allowed !important;
}

/* css/basics.css */
html {
  font-family:
    "Radio Canada",
    Arial,
    Helvetica,
    sans-serif;
  overscroll-behavior: none;
}
svg {
  min-height: 20px;
  min-width: 20px;
}
.primary-card {
  width: 100px;
  width: 96vw;
  height: 100px;
  height: 92vh;
  box-sizing: border-box;
  color: black;
  font-size: large;
  padding: 5px;
  background: linear-gradient(221deg, #18e7e4, #f2b815, #ec15f2);
  background-size: 300% 300%;
  animation: gradient-bg-crawl 15s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 360px;
  margin: auto;
  border: 5px solid white;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .primary-card {
    border: none;
    padding: 0;
  }
}
.primary-card .content {
  position: relative;
  width: 350px;
  height: 600px;
  max-height: 100%;
  border: 5px solid black;
  padding: 0;
  margin: auto;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
}
.primary-card .content .everything {
  width: 350px;
  height: 550px;
  max-height: 100%;
  box-sizing: border-box;
  margin: 65px auto 0 auto;
  padding-top: 0px;
  overflow-y: auto;
}
.primary-card .content .everything-feed {
  width: 350px;
  height: 600px;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 60px;
  overscroll-behavior: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.primary-card .gutter,
.primary-card .gutters {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.primary-card .content-transparent {
  position: relative;
  width: 350px;
  height: 600px;
  max-height: 100%;
  border: 5px solid black;
  padding: 0;
  margin: auto;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}
.panel {
  border-radius: 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  margin: 5px 0;
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  margin: 0;
  padding: 0;
}
.panel .message {
  padding: 5px;
  margin: 5px 0;
  color: white;
  mix-blend-mode: multiply;
  font-weight: bold;
  text-align: center;
}
.panel .hero-icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
}

/* css/header.css */
.primary-card #primary-header {
  display: block;
  color: white;
  mix-blend-mode: multiply;
  width: 100%;
  height: 60px;
  background-color: black;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.primary-card header.disable-transparent-icons {
  mix-blend-mode: normal !important;
}
header.header-visible {
  opacity: 1;
  transition: opacity 500ms ease 100ms;
}
header.header-invisible {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease 100ms;
}
#full-header {
  height: 1px;
  width: 100%;
  overflow: hidden;
  background-color: black;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  transition: 500ms ease 100ms;
}
#full-header.expanded {
  height: 600px;
  width: 100%;
}
#primary-nav {
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar li {
  list-style-type: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding-top: 5px;
  color: white;
}
.navbar a svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navbar a svg path {
  fill: white;
}
.navbar a .opt {
  transition: opacity 1s ease 100ms;
  opacity: 1;
}
.navbar a:hover .hide-sometimes,
.navbar a:hover .opt {
  opacity: 0.2;
}
.navbar a.selected {
  filter: none;
  border-bottom: 2px solid white;
}
#full-nav {
  color: white;
}
#full-nav .nav-dropdown {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  height: 550px;
  border: 1px solid #111;
  box-sizing: border-box;
  text-align: left;
  overflow-y: scroll;
}
#full-nav .nav-dropdown a {
  color: white;
}
#full-nav pre {
  font-size: x-small;
  color: #555;
}
#full-nav .toc ul {
  margin-left: 0;
  padding-left: 0;
}
#full-nav .toc ul li {
  list-style-type: square;
}
#full-nav .toc ul li a {
  display: block;
  height: 25px;
  padding: 10px;
  border: 1px dotted #444;
  border-radius: 5px;
  margin: 5px;
}
#full-nav .toc ul li a:hover {
  background-color: #444;
  transform: scale(1.03);
  transition: transform 100ms ease 0ms;
}
#full-nav .toc ul li a:active {
  transform: scale(1.1);
  transition: transform 100ms ease 0ms;
}
.sitemap-author ul {
  margin-left: 0;
  padding-left: 0;
}
.sitemap-author li {
  min-height: 50px;
  list-style-type: none;
  padding-left: 5px;
  border-left: 2px solid white;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: small;
}
.sitemap-entry {
  width: 325px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: stretch;
  align-content: space-between;
}
.sitemap-entry h4 {
  margin-top: 0;
  padding-top: 0;
}
.sitemap-entry img {
  margin: 10px;
  padding: 0;
  width: 120px;
  max-height: 100px;
}
.sitemap-entry:hover {
  background-color: #444;
  transform: scale(1.03);
  transition: transform 100ms ease 0ms;
}
.sitemap-entry:active {
  transform: scale(1.05);
  transition: transform 100ms ease 0ms;
}
#full-nav .credits {
  font-size: x-small;
}

/* css/form.css */
form {
  margin-bottom: 10px;
}
form p {
  margin: 0 0 1em 0;
  padding: 0;
}
form.panel input[type=text],
form.panel input[type=password] {
  width: 95%;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid grey;
  border-radius: 5px;
}
form.panel input[type=text]:focus,
form.panel input[type=password]:focus {
  outline: none;
  border: 2px solid black;
}
form.panel input[type=checkbox] {
  accent-color: rgba(73, 112, 21, 0.8);
  width: 28px;
  height: 28px;
  margin: 0 5px 0 0;
}
form.panel input[type=checkbox]:focus {
  border: 5px solid black;
}
.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid white;
  margin: 5px 0;
  padding: 5px;
}
.checkbox-group label {
  margin-right: 10px;
}
.button-horizontal-right {
  display: flex;
  justify-content: flex-end;
}
.button-horizontal-left {
  display: flex;
  justify-content: flex-start;
}
.button-horizontal-center {
  display: flex;
  justify-content: center;
}

/* css/button.css */
button.pushbutton,
a.pushbutton {
  display: block;
  padding: 15px;
  margin: 10px 5px;
  overflow: visible;
  border-radius: 100px;
  border: 1px solid black;
  background-color: darkslategray;
  cursor: pointer;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.9);
  mix-blend-mode: multiply;
  transition: all 100ms ease 10ms;
  color: white;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Radio Canada", sans-serif;
}
button.pushbutton svg,
a.pushbutton svg {
  width: 30px;
  height: 30px;
}
button.pushbutton svg path,
a.pushbutton svg path {
  fill: white;
}
button.pushbutton *,
a.pushbutton * {
  vertical-align: middle;
}
button.pushbutton:hover,
a.pushbutton:hover {
  margin: 14px 5px 6px 5px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.9);
}
button.pushbutton .hide-sometimes,
button.pushbutton .opt,
a.pushbutton .hide-sometimes,
a.pushbutton .opt {
  transition: opacity 1s ease 100ms;
  opacity: 1;
}
button.pushbutton:hover .hide-sometimes,
button.pushbutton:hover .opt,
a.pushbutton:hover .hide-sometimes,
a.pushbutton:hover .opt {
  opacity: 0.2;
}

/* css/feed.css */
.frames {
  margin-bottom: 100px;
}
:root {
  --frame-width: 330px;
  --frame-height: 400px;
}
.frame {
  width: var(--frame-width);
  height: var(--frame-height);
  margin: 10px auto;
  overflow: hidden;
}
.card {
  width: var(--frame-width);
  height: var(--frame-height);
  overflow: hidden;
  box-sizing: border-box;
  border: 1px dashed black;
}
.stack-card .card {
  border: none;
}
.frame-primary {
  opacity: 1;
  transition: opacity 0.2s;
}
.frame-visible {
  opacity: 0.3;
}
.frame-invisible {
  opacity: 0.1;
}
.stack-card {
  position: relative;
}
.stacked {
  position: absolute;
}
.title-card {
  padding: 5px 15px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}
.title-card h2,
.title-card h4 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.title-card p {
  margin: 0;
  padding: 0;
}
.title-card .title-row {
  position: relative;
}
.title-card .thumbnail {
  width: 300px;
  max-height: 250px;
}
.title-card .qrlink {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  display: block;
  width: 40px;
  height: 40px;
}
.title-card .qrlink img {
  width: 45px;
  height: 45px;
}
.markdown-card,
.html-card {
  padding: 5px 15px;
  background-color: rgb(255, 255, 255, 0.3);
}
.error-card {
  background-color: rgba(235, 79, 79, 0.3);
  font-size: small;
}
.restrict-max-height img {
  max-height: var(--frame-height);
}
.restrict-max-width img {
  max-width: var(--frame-width);
}
.video-card video {
  max-width: var(--frame-width);
  max-height: var(--frame-height);
}
.border {
  border: 1px solid black;
}
.opaque {
  background-color: white;
}

/* css/qr.css */
.qrcode-frame {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qrcode {
  mix-blend-mode: multiply;
  width: 350px;
  height: 350px;
}

/* css/invite.css */
.invite-code {
  position: absolute;
  bottom: 0;
  margin: 0 10px 10px 0;
  text-align: center;
}
.invite-code a {
  font-family: "Inconsolata", monospace;
  font-weight: 450;
  font-size: 0.85em;
}

/* css/audio.css */
.audio-footer {
  display: block;
  color: white;
  mix-blend-mode: multiply;
  width: 100%;
  height: 35px;
  background-color: black;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.audio-footer audio {
  width: 100%;
  margin: auto;
}

/* css/style.css */
