{% extends "email_base.html.tera" %}

{% block content %}
<h1> Reset Your {{ site_name }} Password</h1>
<p> Please click <a href="{{ verification_link }}">here</a> to reset that password, champ!</p>
<p> (If you didn't just request to change your password, please disregard this email) </p>
{% endblock content %}