{% extends "email_base.html.tera" %}

{% block content %}
<h1> You've Logged In to {{ site_name }} From a New Location</h1>
<p> Please click <a href="{{ verification_link }}">here</a> to verify that you are... you! The owner of this email!</p>
<p> (If you didn't just log in to {{ site_name }}, please disregard this email) </p>
{% endblock content %}